PORT=5000
MONGO_URI=mongodb+srv://Kavincodeg:kavinvs15062006@url.1b8mpdl.mongodb.net/?appName=url
JWT_SECRET=linko_super_secret_jwt_key_2024_change_in_production
JWT_EXPIRE=7d
BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback

